/* @Reboot */
body {
    font-family: "gilroy", arial, sans-serif;
}

/* Backgrounds */
.bg-red {
    background-color: #a90534;
}

/* Colors */
.color-white {
    color: #ffffff;
}

/* Texts */
.hero-text {
    font-size: 50px;
    font-family: 'gilroy';
    font-weight: 500;
}

/* Alignments */
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* Sizes */
.font-size-50 {
    font-size: 50;
}

/* Weights */
.font-weight-700 {
    font-weight: 700;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-300 {
    font-weight: 300;
}

/* Line Heights */
.line-height-normal {
    line-height: normal;
}

.line-height-zero {
    line-height: 1;
}

/* @Positions */
.position-relative {
    position: relative;
}

/* Paddings - Margins */
.desktop-paddings {
    padding-left: 195px;
    padding-right: 195px;
}

/* @Figure */
figure {
    margin: 0;
    position: relative;
}

figure figcaption {
    position: absolute;
    z-index: 2;
}

figure figcaption small {
    font-size: 25px;
    display: block;
}

figure figcaption strong {
    font-size: 45px;
}

/* VİDEO  */
.full-video{
    width: 100%;
    height: 90vh;
}
.vjs-big-play-button{
    top: 50% !important;
    left: 50% !important;
}

.video-player {
    position: relative;
}

.video-player .video-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    text-align: center;
}

.video-player .video-content img {
    display: block;
    margin: 25px auto 26px auto;
}

.video-player .video-content a h1 {
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
    display: block;
}

.video-player .open-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.video-container {
    padding-left: 196px;
    padding-right: 196px;
    position: relative;
}

.video-player .video-description {
    font-size: 18px;
    margin: 50px 0 0 0;
}

.video-description {
    font-size: 18px;
    margin: 0;
}

.entry-row-1 .open-video {
    display: none;
}

.entry-row-2 {
    padding-top: 75px;
    padding-bottom: 61px;
}

.entry-row-2 .hero-text {
    margin-bottom: 52px;
}

.entry-row-2 .video-player {
    margin-bottom: 42px;
}

.entry-row-2 .flexible-list {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.entry-row-2 .flexible-list .flex-item {
    flex: 0 0 calc(100% / 2);
    max-width: 100%;
}

.entry-row-2 .sub-text {
    position: absolute;
    bottom: 0;
    left: 85px;
    max-width: 410px;
    z-index: 2;
}

.entry-row-2 .sub-text .sub-text-title {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 10px;
}

.entry-row-2 .sub-text .sub-text-description {
    font-size: 16px;
    line-height: 26px;
    font-family: "aktiv-grotesk";
}

.entry-row-2 figure figcaption {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.entry-row-3 figure:first-child {
    position: relative;
}

.entry-row-3 figure img {
    width: 100%;
}

.entry-row-3 figure small {
    font-size: 25px;
    line-height: 35px;
    position: absolute;
    top: 42px;
    left: 100px;
    z-index: 2;
    font-weight: 700;
}

.entry-row-3 figure p {
    margin: 0;
    position: absolute;
    top: 42px;
    right: 100px;
    z-index: 2;
    font-size: 21px;
    line-height: 28px;
    max-width: 406px;
}

.image-slider-wrapper {
    padding-left: 100px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000 24%, #000000 50%);
    margin-top: -329px;
    padding-top: 350px;
    z-index: 2;
    position: relative;
    padding-bottom: 75px;
}

.image-slider-wrapper .swiper-wrapper {
    display: flex;
    flex-wrap: nowrap;
    margin-left: -21px;
    margin-right: -21px;
}

.image-slider-wrapper .swiper-wrapper .swiper-slide {
    flex: 0 0 calc(100% / 3.25);
    max-width: 100%;
    padding-left: 21px;
    padding-right: 21px;
    position: relative;
}

.image-slider-wrapper .swiper-wrapper .swiper-slide .slide-img img {
    width: 100%;
}

.image-slider-wrapper .swiper-wrapper .swiper-slide .slide-content {
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
}

.image-slider-wrapper .swiper-wrapper .swiper-slide .slide-content p {
    margin: 0;
    max-width: 163px;
    font-size: 21px;
    line-height: 28px;
    font-weight: 500;
    font-family: "aktiv-grotesk";
}

.entry-row-4 {
    padding-top: 98px;
    padding-bottom: 130px;
    background-color: #a90534;
    background-image: url('../images/backgrounds/background-triangle.png');
}

.entry-row-4 h2 {
    font-size: 27px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 88px;
}

.entry-row-4 figure {
    text-align: center;
}

.entry-row-4 figure figcaption {
    position: static;
    font-size: 30px;
    line-height: 35px;
    font-weight: 800;
    margin-bottom: 48px;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.entry-row-4 figure figcaption:before {
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    left: -45px;
    width: 55px;
    height: 40px;
    background-image: url('../vectors/quotes.svg');
}

.entry-row-4 figure figcaption:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -15px;
    right: -45px;
    width: 55px;
    height: 38px;
    background-image: url('../vectors/quotes-end.svg');
}

.entry-row-4 .flexible-list .flex-item:nth-child(2) figure figcaption:before {
    left: -70px;
    top: -10px;
}

.entry-row-4 .flexible-list .flex-item:nth-child(2) figure figcaption:after {
    right: -70px;
    bottom: -10px
}

.entry-row-4 .flexible-list .flex-item:nth-child(3) figure figcaption:before {
    left: -70px;
    top: -10px;
}

.entry-row-4 .flexible-list .flex-item:nth-child(3) figure figcaption:after {
    right: -50px;
    bottom: -20px;
}

.entry-row-4 .flexible-list .flex-item:last-child figure figcaption:after {
    right: -55px;
}

.entry-row-4 .flexible-list .flex-item:last-child figure figcaption:before { 
    left: -55px;
}

.entry-row-4 figure img {
    display: block;
    margin: auto;
}

.entry-row-4 .flexible-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.entry-row-4 .flexible-list .flex-item {
    flex: 0 0 calc(100% / 2);
    max-width: 100%;
    margin-bottom: 125px;
}

.entry-row-4 .video-wrapper {
    margin-top: 130px;
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
}

.entry-row-5 {
    padding-top: 62px;
    padding-bottom: 60px;
    background: #000000;
}

.entry-row-5 h2 {
    text-align: center;
    color: #ffffff;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 50px;
}

.entry-row-5 input {
    background-color: #ffffff;
    border: none;
    height: 60px;
    width: 100%;
    text-align: center;
}

.entry-row-5 a {
    cursor: pointer;
    width: 170px;
    margin: 48px auto 0 auto;
    padding: 16px 0;
    border: none;
    display: block;
    background-color: #ffab00;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.entry-row-5 .entry-row-5-container {
    padding-left: 260px;
    padding-right: 260px;
    overflow: hidden;
}

.entry-row-5 .swiper-container .swiper-wrapper {
    display: flex;
    align-items: center;
    margin-left: -30px;
    margin-right: -30px;
}

.entry-row-5 .swiper-container .swiper-wrapper .swiper-slide {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    opacity: 0.6;
}

.entry-row-5 .swiper-container .swiper-wrapper .swiper-slide.slide-active {
    opacity: 1;
}

.entry-row-5 .flexible-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: 47px;
}

.entry-row-5 .flexible-list .flex-item {
    flex: 0 0 30%;
    max-width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.entry-row-7 {
    background-size: cover;
    position: relative;
    height: 100vh;
}

.entry-row-7 .entry-row-7-background {
    background-color: #a90534;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0.95;
    mix-blend-mode: multiply;
}

.entry-row-7 .entry-row-7-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    text-align: center;
    color: #ffffff;
    padding-top: 86px;
    padding-bottom: 33px;
}

.entry-row-7 .entry-row-7-content > a {
    display: block;
    margin-bottom: 48px;
}

.entry-row-7 .entry-row-7-content > a h2 {
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
}

.entry-row-7-sponsor  {
    margin-top: 30px;
}

.entry-row-7-sponsor small {
    text-align: center;
    display: block;
    margin-bottom: 25px;
    font-size: 16px;
    font-family: "aktiv-grotesk";
}

.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px !important;
}

.social-list .social-item {
    flex: 0 0 auto;
    max-width: 100%;
    padding-left: 6px;
    padding-right: 6px;
}

.entry-row-7-sub-content a {
    font-size: 18px;
    color: #ffffff;
    display: block;
    margin-bottom: 8px;
    font-family: "aktiv-grotesk";
}

.entry-row-7-sub-content small {
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    font-family: "aktiv-grotesk";
}

.entry-row-7-absolute-content {
    position: absolute;
    bottom: 33px;
    left: 0;
    width: 100%;
    z-index: 3;
}

.entry-row-7-absolute-content small {
    display: block;
    font-size: 12px;
}

.entry-row-7-absolute-content img {
    margin-bottom: 16px;
}

.product-list {
    display: flex;
    flex-wrap: nowrap;
    margin-left: -30px !important;
    margin-right: -30px !important;
}

.product-list .swiper-slide {
    flex: 0 0 calc(100% / 3.85);
    padding-left: 30px;
    margin-right: 30px;
}

.entry-row-6 {
    padding-left: 102px;
    padding-top: 64px;
    padding-bottom: 130px;
}

.entry-row-6 .swiper-header {
    font-size: 24px;
    font-weight: 600;
    
    margin-bottom: 27px;
}

.showcase .showcase-image-container {
    border: 1px solid #dddddd;
    margin-bottom: 20px;
}

.showcase {
    display: block;
    position: relative;
}

.showcase .showcase-image-container .showcase-image {
    position: relative;
    overflow: hidden;
    padding-top: 100%;
}

.showcase .showcase-image-container .showcase-image img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

.showcase .showcase-badges {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px;
    z-index: 2;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.showcase .showcase-badges .new-badge {
    color: #ffab00;
}

.showcase .showcase-brand {
    color: #6a6a6a;
    font-size: 12px;
    margin-bottom: 5px;
}

.showcase .showcase-title {
    font-size: 14px;
    margin-bottom: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.showcase .discount-price {
    color: #a90534;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.showcase .showcase-price {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -11px;
    margin-right: -11px;
    font-size: 14px;
}

.showcase .showcase-price > * {
    padding-left: 11px;
    padding-right: 11px;
}

.showcase .showcase-price.discount-product span {
    color: #a90534;
}

@media screen and (max-width: 1440px) { 
    .padding-X-md-0 {
        padding-left: 0;
        padding-right: 0;
    }

    .entry-row-2 .sub-text {
        left: -150px;
    }
}

@media screen and (max-width: 1025px) {
    figure figcaption small {
        font-weight: 400;
    }

    figure figcaption strong {
        font-size: 35px;
    }

    .video-container {
        padding-left: 0;
        padding-right: 0;
    }

    .desktop-paddings {
        padding-left: 0;
        padding-right: 0;
    }

    .entry-row-5 .entry-row-5-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .entry-row-1 {
        display: flex;
        flex-direction: column;
    }

    video,
    video-js {
        order: 2;
    }

    .video-player .video-content {
        position: relative;
        order: 1;
        background-color: #a90534;
        padding-top: 93px;
        padding-bottom: 93px;
    }

    .video-player .video-content a h1 {
        font-size: 25px;
    }

    .video-player .video-content svg {
        margin: 0 auto 15px auto;
    }

    .video-description {
        font-size: 14px;
        line-height: 20px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 50px;
    }

    .entry-row-2 .flexible-list .flex-item:first-child figure figcaption {
        left: auto;
        right: 20px;
        transform: translateY(-50%);
    }

    .entry-row-2 .flexible-list .flex-item:last-child figure figcaption { 
        transform: translateX(-50%);
    }

    .entry-row-2 .hero-text {
        font-size: 30px;
        line-height: 35px;
    }

    .entry-row-2 .flexible-list {
        flex-direction: column;
    }

    .entry-row-2 .flexible-list .flex-item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .entry-row-2 .sub-text {
        display: none;
    }

    .entry-row-3 figure small {
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .entry-row-3 figure p {
        font-size: 14px;
        text-align: center;
        width: 100%;
        max-width: 100%;
        position: relative;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000 24%, #000000 50%);
        top: -60px;
        right: 0;
        padding: 60px 20px 20px 20px;
    }

    .entry-row-3 figure small {
        font-size: 14px;
    }

    .image-slider-wrapper {
        margin-top: -60px;
        background: #000000;
        padding-top: 0;
        padding-bottom: 40px;
        padding-left: 16px;
    }

    .image-slider-wrapper .swiper-wrapper .swiper-slide {
        flex: 0 0 calc(100% / 1.25);
    }

    .image-slider-wrapper .swiper-wrapper .swiper-slide .slide-content {
        position: relative;
        padding: 0;
        text-align: center;
        margin-top: 20px;
    }

    .image-slider-wrapper .swiper-wrapper .swiper-slide .slide-content p {
        max-width: 100%;
        font-size: 14px;
        line-height: 20px;
    }

    .entry-row-3 figure:last-child p {
        background: #000000;
        top: 0;
        padding: 20px;
    }

    .entry-row-4 {
        padding-top: 50px;
        padding-bottom: 60px;
    }

    .entry-row-4 h2 {
        font-size: 20px;
        font-weight: 600;
        padding-left: 20px;
        padding-right: 20px;
    }

    .entry-row-4 h2 br {
        display: none;
    }

    .entry-row-4 .desktop-paddings {
        padding-left: 30px;
        padding-right: 30px;
    }

    .entry-row-4 .flexible-list .flex-item {
        flex: 0 0 100%;
        margin-bottom: 60px;
    }

    .entry-row-4 figure figcaption {
        font-size: 18px;
        line-height: 20px;
        font-weight: 800;
    }
    .entry-row-4 figure figcaption:before,
    .entry-row-4 figure figcaption:after {
        background-size: contain;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
    }

    .entry-row-4 figure figcaption:before {
        left: -25px;
    }

    .entry-row-4 .flexible-list .flex-item:nth-child(3) figure figcaption:before,
    .entry-row-4 .flexible-list .flex-item:nth-child(2) figure figcaption:before {
        left: -40px;
    }

    .entry-row-4 .flexible-list .flex-item:last-child figure figcaption:before{
        left: -15px;
    }

    .entry-row-4 figure figcaption:after {
        right: -25px;
    }

    .entry-row-4 .flexible-list .flex-item:nth-child(2) figure figcaption:after {
        right: -40px;
        bottom: -20px;
    }

    .entry-row-4 .flexible-list .flex-item:nth-child(3) figure figcaption:after {
        right: -40px;
        bottom: -20px;
    }

    .entry-row-4 .flexible-list .flex-item:last-child figure figcaption:after {
        right: -35px;
    }

    .entry-row-5 .flexible-list {
        margin-bottom: 20px;
    }

    .entry-row-5 .flexible-list .flex-item {
        flex: 0 0 100%;
    }

    .entry-row-4 .flexible-list .flex-item:last-child {
        margin-bottom: 0;
    }

    .entry-row-5 .flexible-list {
        margin-bottom: 27px;
    }

    .entry-row-6 {
        padding: 20px;
    }

    .entry-row-6 .swiper-wrapper {
        flex-wrap: wrap;
        margin-right: 0;
        transform: none !important;
    }

    .entry-row-6 .swiper-wrapper .swiper-slide {
        margin-bottom: 10px;
    }

    .entry-row-7 .entry-row-7-content > a h2 {
        font-size: 30px;
    }

    .entry-row-7-sponsor img {
        max-width: 200px;
    }

    .entry-row-6 .swiper-wrapper {
        margin-left:0 !important;
        margin-right:0 !important;
    }

    .entry-row-6 .swiper-wrapper .swiper-slide {
        flex: 0 0 50%;
        max-width: 50%;
        padding-left: 7.5px;
        padding-right: 7.5px;
        margin-right: 0;
    }

    .showcase .showcase-badges {
        padding: 0 5px;
        font-size: 12px;
    }

    .showcase .showcase-badges .showcase-favorite img {
        width: 25px;
    }

    .showcase .showcase-title {
        font-size: 13px;
    }
    
}

/*
    lazy images için gerekli
*/
picture.prm-media,
picture.prm-media .lazy-picture,
[data-background],
[data-image-src],
[data-images-src]{ min-height: 1px;display: block; }
    
.vjs-button > .vjs-icon-placeholder:before{
    line-height: 1.3 !important;
    font-size: inherit !important;
}
    
/* .video-js .vjs-tech{
     object-fit: cover !important;
} */

canvas {
    border: 1px solid red;
    max-width: 100%;
}